<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promotional Emails</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 15px;
            padding: 15px;
            background-color: #f9f9f9;
            color: #333;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 8px;
            box-sizing: border-box;
        }

        .header {
            text-align: center;
            padding-bottom: 20px;
        }

        .content {
            font-size: 14px;
            line-height: 2;
        }

        .footer {
            margin-top: 2px;
            font-size: 14px;
        }

        .footer .footer-content {
            height: 2rem;
            display: flex;
            justify-content: flex-start !important;
            align-items: center !important;
            gap: .3rem !important;
            width: 100%;
        }

        .footer .footer-content img {
            border-radius: 100%;
        }

        .footer .footer-content .company-name {
            font-size: 14px;
            color: #0c0659;
            margin: auto 8px !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <p>
                Dear Tandem Referral Partner,
            <p>
                <b style="color: brown;">{{ description }}</b>
                I hope this email finds you well. As a respected broker in the real estate industry, we know you're
                always on the lookout for exciting investment opportunities. That's why we're thrilled to introduce you
                to our exclusive network of top brokers specializing in US properties.
            </p>
            <b>Why Partner with Us?</b>
            <p>
                1. <b>Prime US Properties:</b> Our portfolio includes prime residential, commercial, and investment
                properties across key US markets. From luxury condos in New York City to beachfront estates in Miami,
                we've got it all.
                <br>
                2. <b>High-Yield Deals:</b> Our team of experts meticulously curates deals with high yield potential.
                Whether your clients are looking for rental income, capital appreciation, or both, we've got options
                that fit their goals.
                <br>
                3. <b>Personalized Support:</b> As a valued partner, you'll have access to personalized support from our
                seasoned real estate professionals. We're here to assist you every step of the way.
                <br>
                4. <b>Exclusive Pre-Launch Opportunities:</b> Be the first to know about off-market listings,
                pre-construction projects, and exclusive deals before they hit the market. Gain a competitive edge for
                your clients.
            </p>
            <b>How to Get Started:</b>
            <p>
                1. <b>Reply to this Email:</b> Let us know you're interested, and we'll schedule a call to discuss how
                we can collaborate.<br>

                2. <b>Join Our Webinar:</b> Attend our upcoming webinar where we'll unveil our latest investment
                opportunities. <b>Register <a href={{ link }}>here</a></b>.<br>

                3. <b>Explore Our Listings:</b> Visit our website to explore our current listings and get a taste of
                what's available.
            </p>
            <p>
                Don't miss out on this chance to expand your portfolio and offer your clients exceptional US property
                investments. Reply to this email or join our webinar to learn more.
            </p>
            <p>
                Looking forward to welcoming you to our network!
            </p>
        </div>
        <div class="footer">
            <p>Sincerely,</p>
            <p>The Tandem Team</p>
            <div class="footer-content">
                <img src="https://static.wixstatic.com/media/de20d1_c11a5e3e27554cde9ed8e2312c36095b~mv2.webp/v1/fill/w_101,h_101,al_c,lg_1,q_80,enc_auto/Logo%20Transparency%20-%20Icon.webp"
                    alt="Tandem Logo">
                <p class="company-name">TANDEM INFRASTRUCTURE</p>
            </div>
        </div>
    </div>
</body>

</html>